.rank
{
	min-height: 3em;
	text-align: left;
	padding-left: 4em;
	margin-bottom: 1em;
	background-size: auto 3em;
	background-position: top left;
	background-repeat: no-repeat;
	image-rendering: pixelated;

}

.rank p
{
	margin-bottom: 0.5em;
	line-height: 1.1;
}

.friend
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Helper.png);
}

.air
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Air.png);
}

.water
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Water.png);
}

.earth
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Earth.png);
}

.fire
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Fire.png);
}

.nature
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Nature.png);
}

.death
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Death.png);
}

.law
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Law.png);
}

.mind
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Mind.png);
}

.soul
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Soul.png);
}

.astral
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Astral.png);
}

.cosmic
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Cosmic.png);
}

.beast
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Beast.png);
}

@keyframes combat
{
	0%, 100% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Attacker.png) }
	14.2857% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Enforcer.png) }
	28.5714% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Defender.png) }
	42.8571% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Ranger.png) }
	57.1429% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Priest.png) }
	71.4286% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Magician.png) }
	85.7143% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Medic.png) }
}

.combat
{
	animation: combat 7s step-start infinite;
}

@keyframes gather
{
	0%, 100% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Miner.png) }
	33.3333% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Fisher.png) }
	66.6667% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Lumberjack.png) }
}

.gather
{
	animation: gather 3s step-start infinite;
}

@keyframes process
{
	0%, 100% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Runecrafter.png) }
	20% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Crafter.png) }
	40% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Smith.png) }
	60% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Cook.png) }
	80% { background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Firemaker.png) }
}

.process
{
	animation: process 5s step-start infinite;
}

.alt
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Gnome_Child.png);
}

.modalt
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Gnome_Elder.png);
}

.warlock
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Warlock.png);
}

.dragonstone
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Dragonstone.png);
}

.onyxx
{
	background-image: url(https://oldschool.runescape.wiki/images/Clan_icon_-_Onyx.png);
}